{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<META NAME="robots" CONTENT="noindex,nofollow">
{% endblock %}

{% block content %}
<div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
            <div class="col-xxl-7">
                <h3>Impressum</h3>
                <p>Oscar Rojas<br>Quartiersweg 7<br>10829 Berlin<br>Germany</p>
                <p>E-Mail: oscar.rojas@whu.edu<br>Telefon: +49 178 256 96 26</p>
                <p>Aufgrund möglicher Zeitzonenunterschiede erreichen Sie mich am schnellsten elektronisch.</p>
                <p>Support-Kontakt: oscar.rojas@whu.edu</p>
            <!-- Header profile picture-->

        </div>
    </div>
</div>
{% endblock %}