{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<META NAME="robots" CONTENT="noindex,nofollow">
{% endblock %}

{% block content %}
<div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
            <div class="col-xxl-7">
                <h3>Datenschutzerklärung</h3>
                <p>sinzentracker.de sollte hierin als "diese Website" oder "die Website" bezeichnet werden.</p>
                <h4>Statistiken</h4>
                <p>Diese Website erfasst Statistiken anonym mit <a href="https://plausible.io/privacy-focused-web-analytics">Plausible</a>. Es werden keine Tracking-Cookies gesetzt. Die Statistiken werden auf Servern in der Europäischen Union gespeichert und nicht an andere Unternehmen weitergegeben oder verkauft.</p>
                <p>Diese Website und alle ihre Inhalte werden in Frankfurt gehostet.</p>
                <p>Diese Website sammelt auch Serverfehlerprotokolle zu Debugging-Zwecken. Die Protokolle sind anonymisiert und enthalten keine personenbezogenen Daten.</p>
                <p>Für alle Datenanfragen (Kopie, Löschung usw.) senden Sie eine E-Mail an oscar.rojas@whu.de</p>
            </div>
    </div>
</div>
{% endblock %}
