{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<META NAME="robots" CONTENT="noindex,nofollow">
{% endblock %}

{% block content %}
<div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
            <div class="col-xxl-7">
                <h3>Allgemeine Geschäftsbedingungen</h3>
                <p>Dies sind die Allgemeinen Geschäftsbedingungen für die Nutzung unseres Dienstes sinzentracker.de.</p>
                <h4>Beschreibung des Dienstes</h4>
                <p>sinzentracker.de ist ein Dienst, der Informationen über Zinssätze bereitstellt. Wir erleichtern die Entdeckung von Informationen, nehmen jedoch nicht direkt an Transaktionen teil und haben keine Kontrolle darüber.</p>
                <h4>Gebühren</h4>
                <p>Unser Service ist vorübergehend kostenlos. Für den Zugriff auf unsere Dienste ist keine Zahlung erforderlich.</p>
                <p>Durch die Annahme dieser Bedingungen erkennen Sie an, dass sich die Preise für zuvor kostenlose Dienste in Zukunft ändern können.</p>
                <h4>Nutzerpflichten</h4>
                <h4>Datenschutz</h4>
                <p>Bitte beachten Sie unsere Datenschutzrichtlinie für Informationen darüber, wie wir Ihre Daten erfassen und verwenden.</p>
                <h4>Geistiges Eigentum</h4>
                <p>Der Inhalt dieser Website gehört uns oder ist durch uns lizenziert. Dieses Material umfasst unter anderem das Design, das Layout, das Erscheinungsbild und die Grafiken. Jegliche Vervielfältigung ist nur gemäß dem Urheberrechtshinweis gestattet.</p>
                <p>Um genaue Informationen bereitzustellen, haben wir Links zu externen Websites und Logos aus dem öffentlichen Bereich verwendet. Für Löschungen kontaktieren Sie uns bitte.</p>
                <h4>Haftungsbeschränkung</h4>
                <p>Die Nutzer sind allein verantwortlich für die Verwendung dieser Informationen. Dies sollte in keiner Weise als Anlageberatung angesehen werden. Wir übernehmen keine Verantwortung für etwaige Anlageergebnisse.</p>
                <p>Wir haften Ihnen gegenüber nicht für Verluste oder Schäden, egal ob vertraglich, aus unerlaubter Handlung (einschließlich Fahrlässigkeit), aus Verletzung gesetzlicher Pflichten oder aus sonstigem Grund, die im Zusammenhang mit der Nutzung unserer Website entstehen oder damit verbunden sind, selbst wenn vorhersehbar.</p>
                <p>Wir behalten uns das Recht vor, bei Verdacht auf missbräuchliches Verhalten einen Dienst bereitzustellen.</p>
                <h4>Geltendes Recht</h4>
                <p>Diese Allgemeinen Geschäftsbedingungen und alle Streitigkeiten oder Ansprüche, die sich aus oder im Zusammenhang mit ihnen oder ihrem Gegenstand oder ihrer Entstehung ergeben, unterliegen dem deutschen Recht.</p>
                <h4>Änderungen dieser Bedingungen</h4>
                <p>Wir behalten uns das Recht vor, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern. Dies geschieht durch Veröffentlichung und Hervorhebung der aktualisierten Bedingungen auf der Website.</p>
        </div>
    </div>
</div>
{% endblock %}